<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website created by sriram kolipakula.using weatherstack.com</p>
        <img class="potrait"src="/images/img.png">
        </div>
        
        {{>footer}}
    </body>
</html>